.logo{
    font-family:'Inter Tight', sans-serif;
    font-size: 20;
    color: #9DB2BF;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
    background-color: #ffffff;
    color: #1d1d1d;
}
.navbar{
    flex-direction: column;
}
.sidebar{
    display: flex;
}
.video-container{
    display: flex;
    flex-direction: column;

}
#sidebar-buttons{
    display: flex;
}
.tdpfp{
    display: flex;
}