body{
    background-color: #27374D;
    color: #ffffff;
}
/* This nav is wrapped around .logo .search-box .profile .dropdown */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
/* This is for the main logo top left */
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo img {
    max-width: 100px; 
    max-height: 40px; 
    width: auto;
    height: auto;
}
.logo span{
    color: #DDE6ED;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
}
/* This is for the search box on top middle */
.search-box {
    display: flex;
    align-items: center;
    border: 5px;
    border-radius: 30px;
    background-color: #9DB2BF;
    padding: 5px;
    margin-right: 20px;
}
.search-box input[type="text"] {
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: transparent;
    padding: 5px;
    outline: none;
    width: 450px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.search-box button{
    font-family: 'Open Sans', sans-serif;
    border: none;
    background-color: #526D82;
    color: #DDE6ED;
    padding: 10px 30px;
    cursor: pointer;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
/* This is for the profile menu on the top right. Couldn't figure click. Applied hover property */
.profile {
    display: flex;
    align-items: center;
    position: relative;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50px;
    stroke: 10px;    
    cursor: pointer;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #9DB2BF;
    font-family: 'Open Sans', sans-serif;
    left: auto;
    right: 0;
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
    white-space: nowrap;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #e1e1e1;
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/* This is the container wrapped around .sidebar & .video-container */
.container{
    display: flex;
    gap: 20px;
    margin: 20px;
}
/* Sidebar style */
.sidebar {
    width: 200px;
    font-family: 'Open Sans', sans-serif;
    background-color: #27374D;
    color: #ffffff;
    padding: 20px;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}
.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #DDE6ED;
    font-weight: bold;
}
.sidebar a i {
    margin-right: 5px;
}
.sidebar a:hover {
    color: #ffffff;
}
/* Video Container Style */
.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 15px;
}
.video {
    width: calc(30.30% - 30px);
    background-color: #9DB2BF;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.video h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #27374D;
    margin-top: 10px;
    margin-bottom: 5px;
}
.video h3 {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #27374da9;
}
.video h4 {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: #27374da9;
    margin-top: 5px;
    margin-bottom: 5px;
}
.video img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
/* This is the footer text */
.footer{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
}